:root {
    --color-card: #181818;
    --color-primary: black;
    --color-secundary: white;
    --border-glass: rgba(160, 160, 160, 0.2);
}

body {
    background-color: var(--color-primary);
    font-family: "DM Sans", "Inter Tight", "Roboto Condensed";
    color: var(--color-secundary);
    font-size: 62.5%;
    position: relative;
    background-image: 
        radial-gradient(circle at 6% 3%, rgba(255,255,255,0.16), transparent 12%),
        radial-gradient(circle at 99% 7%, rgba(255,255,255,0.14), transparent 6%),
        radial-gradient(circle at 81% 23%, rgba(255,255,255,0.16), transparent 14%);
}

/*  */

body * {
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* .background-color {
    background-color: #070707;
} */

nav {
    padding: 0 1.1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    max-width: 100%;
}

nav a, nav img {
    display: block;
}

header {
    margin: 1rem auto;
    position: sticky;
    top: 1rem;
    left: 0;
    max-height: 5rem;
    max-width: 70%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid var(--border-glass);
    z-index: 2;
    transition: all .2s ease-in-out;
}

header:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25); 
}

.menu {
    font-size: 1.1rem;
    list-style-type: none;
    padding: 0 1rem 0 0;
    display: flex;
    gap: 3rem;
}

.menu a {
    color: inherit;
    text-decoration: none;
    position: relative;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.menu a::after {
    display: block;
    content: "";
    border: 0 solid var(--color-secundary);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    transition: all .3s ease;
}

.menu a:hover::after {
    border: 1px solid var(--color-secundary);
    width: 60%;
    border-radius: 0;
}

.logo {
    max-width: 60px;
    transform: scale(1);
    transition: all .3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.btn-whats {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 4;
}

.btn-whats img {
    display: block;
    max-width: 60px;
    border-radius: 50%;
    transform: scale(1);
    transition: .4s ease;
}

.btn-whats:hover img {
    transform: scale(1.1);
}

.btn-whats::after {
    content: " ";
    background-image: url(imgs/whatsapp-icon-hover.webp);
    background-size: contain;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1);
    transition: .4s ease;
}

.btn-whats:hover::after {
    opacity: 1;
    transform: scale(1.1);
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 0 2rem;
}


.hero * {
    z-index: 1;
}

.foto-main {
    position: relative;
    z-index: 0;
}

.foto-main img {
    display: block;
    max-width: 510px;
}

.foto-main::after {
    content: "";
    z-index: 1;
    position: absolute;
    inset: 0;
    background-color: transparent;
    background-image: linear-gradient(180deg, transparent, transparent, transparent, transparent, transparent,#000000);
}

.img-background {
    position: absolute;
    bottom: -118px;
    left: -109px;
    z-index: 0;
    opacity: .11;
}

.titulo-principal {
    text-align: left;
    font-size: 2.1rem;
    font-weight: 400;
    margin: 0 0 0 3rem;
}

.titulo-principal_destaque {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4.3rem;
    letter-spacing: -1px;
    transform: translateX(-50px);
}

.titulo-principal_destaque.segundo {
    transform: translateX(35px);
}

.texto-gradiente.segundo{
    background: linear-gradient(
        135deg,
        #000000,
        #ffffff,
        #ffffff,
        #ffffff,
        #ffffff,
        #000000
    );

    background-size: 75%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* animation: gradiente 10s linear infinite; */
}

.texto-gradiente{
    background: linear-gradient(
        135deg,
        #000000,
        #ffffff,
        #ffffff,
        #ffffff,
        #ffffff,
        #000000
    );

    background-size: 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* animation: gradiente 10s linear infinite; */
}

.subtitulo {
    font-size: 2.7rem;
    text-transform: uppercase;
    max-width: 40%;
    margin: 1rem 0 2rem;
}

.subtitulo.texto-gradiente {
    background: linear-gradient(
        135deg,
        #000000,
        #ffffff,
        #ffffff,
        #ffffff
    );
    background-size: 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info {
    margin: 0 1rem 0 0;
    font-size: 1.2rem;
    max-width: 85%;
}

.info-hero {
    text-align: center;
}

.btns {
    margin: 1.3rem 1rem 0 3rem;
}

.btn-geral {
    margin: 1rem 1rem;
    text-decoration: none;
    border-radius: 10px;
    color: inherit;
    padding: 1.2rem;
    font-size: 1rem;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transform: translateY(0);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0);  
    transition: all 0.3s ease;
}

.btn-geral:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-3px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

.apresentacao-problema {
    padding: 1rem 0;
    position: relative;
}

.apresentacao-problema .acrescimo-subtitulo {
    font-size: 1rem;
    padding-left: .1rem;
}

.apresentacao-problema .acrescimo-subtitulo::before {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-secundary);
    transform: translate(-5px, 5px);
}

.apresentacao-problema .info-problema_destaque {
    position: absolute;
    top: 90px; right: 0;
    max-width: 310px;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 200;
}

.content-problemas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    max-width: 700px;
}

.card-black {
    flex-basis: 270px;
    min-height: 170px;
    background: linear-gradient(216deg, #3a3a3abe, #000000be, #000000be, #3a3a3abe);
    border-radius: 15px;
    border: 1px solid var(--border-glass);
    padding: 1rem;
    transform: translateY(0);
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
}

.card-black:hover {
    transform: translateY(-6px);
}

.card-black .sub-subtitulo {
    font-size: 1.1rem;
    margin-bottom: 0;
}

.card-black .info-menor {
    font-size: .9rem;
    margin-top: 5px;
}

.card-black .checkmark {
    position: absolute;
    top: 10px; left: 20px;
    width: 30px;
    height: 30px;
}

.card-black .checkmark::before {
    content: "";
    border-bottom: 5px solid white;
    width: 26px;
    display: block;
    transform: translateY(15px) rotate(45deg);
}

.card-black .checkmark::after {
    content: "";
    border-bottom: 5px solid white;
    width: 26px;
    display: block;
    transform: translateY(11px) rotate(-45deg);
}

.apresentacao-solucao {
    display: flex;
    gap: 1rem;
    /* max-width: 90%;
    margin: 0 auto; */
}

.solucao {
    position: relative;
}

.apresentacao-solucao img {
    display: block;
    max-width: 500px;
    margin: 1rem auto;
}

.apresentacao-solucao_main {
    flex-grow: 1;
}

.apresentacao-solucao_main {
    position: relative;
}

.apresentacao-solucao_main .subtitulo.back .texto-gradiente {
    background: linear-gradient(
        135deg,
        #ffffff,
        #ffffff,
        #000000,
        #000000
    );
    background-size: 115%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    display: block;
    margin: 0;
    transform: translateX(100px);
    font-weight: bold;
}

.apresentacao-solucao_main .subtitulo.front .texto-gradiente {
    background: linear-gradient(
        135deg,
        #ffffff,
        #ffffff,
        #ffffff,
        #000000
    );
    background-size: 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7rem;
    display: block;
    margin: 0;
    transform: translateX(-130px);
    font-weight: bold;
}

.apresentacao-solucao_main .subtitulo.back {
    position: absolute;
    top: 0; left: 100px;
    text-transform: none;
    font-weight: 400;
}

.apresentacao-solucao_main .subtitulo.front {
    position: absolute;
    top: 100px; right: 30px;
    text-transform: none;
    font-weight: 400;
}

.apresentacao-solucao .btn-geral {
    max-height: 40px;
    margin: auto 0;
}

.content-solucoes {
    position: absolute;
    bottom: 60px; left: 60px; right: 60px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

.card-solucao {
    flex-basis: 270px;
    background: linear-gradient(216deg, #3a3a3a78, #00000078, #00000078, #3a3a3a78);
    border-radius: 15px;
    border: 1px solid var(--border-glass);
    padding: .8rem;
    transform: translateY(0);
    transition: all .3s ease-in-out;
    position: relative;
    text-align: center;
    font-size: .9rem;
    opacity: .7;
    backdrop-filter: blur(10px);
}

.card-solucao:hover {
    transform: translateY(-3px); 
    opacity: 1;  
}